<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Marketplace Tests">
            <directory>./tests/src/Marketplace</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Marketplace/</directory>
        </whitelist>
    </filter>
</phpunit>